@page "/resena-nueva"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin,Lector")]


<div style="background:#777FF5; min-height:100vh; display:flex; flex-direction:column;">
    <div style="padding:40px 20px 10px 20px;">
        <div style="font-size:24px; font-weight:bold;">Hacer reseña</div>
    </div>

    <div style="flex:1; background:white; padding:20px;">
        <div>Libro</div>
        <input style="width:100%; height:36px; background:#DDDDDD; border:none;" />

        <div style="margin-top:10px;">Usuario</div>
        <input style="width:100%; height:36px; background:#DDDDDD; border:none;" />

        <div style="margin-top:10px;">Calificacion</div>
        <input style="width:100%; height:36px; background:#DDDDDD; border:none;" />

        <div style="margin-top:10px;">Comentario</div>
        <textarea style="width:100%; height:120px; background:#DDDDDD; border:none;"></textarea>

        <div style="display:grid; grid-template-columns:1fr 1fr; grid-column-gap:20px; margin-top:30px;">
            <button style="height:44px; background:#0050FF; border:none; color:black;">Enviar</button>
            <button style="height:44px; background:red; border:none; color:black;">Cancelar</button>
        </div>
    </div>
</div>
